### Heroes Of Pymoli Data Analysis
* Of the 576 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  


<ol> Conclusion:
    <li>The total revenue is \$ 2379.77 from 780 purchases out of 179 unique items, in which the average item price is \$ 3.05.</li>
    <li>Males have spent almost three times more on purchases than females (\$1967.64-male vs \$361.94-female). This would be an interesting topic as to why females prefer playing computer games less than males, in general.</li>
    <li>The teenages aged less than 19 years old made up 25.35% of the group, which is concerning on the total time consumption these teenagers would spend on playing computer games. Their mental and physical health related to the time consumption on playing games should raise public awareness.</li> 
    <li>The "Final Critic" game is the most profitable item and the most popular item, which has been sold 13 times and made $60 as the total purchase value. </li>
</ol>
    

-----

In [7]:
# The code was removed by Watson Studio for sharing.

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [32]:
data1 = [['tom','&#36 1.23','$3.56','$45.60']]

In [33]:
df1 = pd.DataFrame(data1, columns = ['name', 'price1', 'price2', 'price3'])

In [34]:
df1

  name     price1 price2  price3
0  tom  &#36 1.23  $3.56  $45.60

In [35]:
data2 = [['tom', '\$4.5'],['david', '\$6.7'],['nick', '\$8.90']]

In [36]:
df2 = pd.DataFrame(data2, columns = ['name', 'price'])

In [37]:
df2

    name   price
0    tom   \$4.5
1  david   \$6.7
2   nick  \$8.90